

services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared_tunnel
    restart: always
    env_file: ../../.env
    command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TUNNEL_TOKEN}
    networks:
      - secure-net
    deploy:
      resources:
        limits:
           cpus: '0.5'
           memory: 256M

networks:
  secure-net:
    external: true
